<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2 th:text="${lectureDto.title}"></h2>
<p th:inline="text">작성일 : [[${#temporals.format(lectureDto.created_date, 'yyyy-MM-dd HH:mm')}]]</p>

작성자
<p th:text="${lectureDto.author}"></p>

최대 참가자수
<p th:text="${lectureDto.max_participants}"></p>

카테고리
<p th:text="${lectureDto.category}"></p>

은행명
<p th:text="${lectureDto.bank_name}"></p>

계좌주
<p th:text="${lectureDto.account_name}"></p>

계좌번호
<p th:text="${lectureDto.account_number}"></p>

가격
<p th:text="${lectureDto.price}"></p>

내용
<p th:text="${lectureDto.content}"></p>

<p th:inline="text">시작날짜 : [[${#temporals.format(lectureDto.start_date, 'yyyy-MM-dd HH:mm')}]]</p>

<p th:inline="text">종료날짜 : [[${#temporals.format(lectureDto.end_date, 'yyyy-MM-dd HH:mm')}]]</p>

이미지
<p th:text="${lectureDto.image_url}"></p>

<!-- 수정/삭제 -->
<div>
    <a th:href="@{'/post/edit/' + ${lectureDto.lecture_id}}">
        <button>수정</button>
    </a>

    <form id="delete-form" th:action="@{'/post/' + ${lectureDto.lecture_id}}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <button id="delete-btn">삭제</button>
    </form>
</div>

<!-- 변수 셋팅 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var lectureDto = /*[[${lectureDto}]]*/ "";
    /*]]>*/
</script>

<!-- script -->
<script th:inline="javascript" th:src="@{/js/board.js}"></script>
</body>
</html>