<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>

<a th:href="@{/post}">글쓰기</a>

<table>
    <thead>
    <tr>
        <th class="one wide">번호</th>
        <th class="ten wide">작성자</th>
        <th class="three wide">카테고리</th>
        <th class="three wide">최대참가자수</th>
        <th class="three wide">은행명</th>
        <th class="three wide">계좌주</th>
        <th class="three wide">계좌번호</th>
        <th class="three wide">가격</th>
        <th class="three wide">제목</th>
        <th class="three wide">내용</th>
        <th class="three wide">시작일자</th>
        <th class="three wide">종료일자</th>
        <th class="three wide">지역</th>
        <th class="three wide">이미지</th>
        <th class="three wide">만든날짜</th>
    </tr>
    </thead>

    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="lecture : ${lectureList}">
        <td>
            <span th:text="${lecture.lecture_id}"></span>
        </td>
        <td>
            <span th:text="${lecture.author}"></span>
        </td>
        <td>
            <span th:text="${lecture.category}"></span>
        </td>
        <td>
            <span th:text="${lecture.max_participants}"></span>
        </td>
        <td>
            <span th:text="${lecture.bank_name}"></span>
        </td>
        <td>
            <span th:text="${lecture.account_name}"></span>
        </td>
        <td>
            <span th:text="${lecture.account_number}"></span>
        </td>
        <td>
            <span th:text="${lecture.price}"></span>
        </td>
        <td>
            <a th:href="@{'/post/' + ${lecture.lecture_id}}">
                <span th:text="${lecture.title}"></span>
            </a>
        </td>
        <td>
            <span th:text="${lecture.content}"></span>
        </td>
        <td>
            <span th:text="${lecture.start_date}"></span>
        </td>
        <td>
            <span th:text="${lecture.end_date}"></span>
        </td>

        <td>
            <span th:text="${lecture.region}"></span>
        </td>
        <td>
            <span th:text="${lecture.image_url}"></span>
        </td>
        <td>
            <span th:text="${#temporals.format(lecture.created_date, 'yyyy-MM-dd HH:mm')}"></span>
        </td>
    </tr>
    </tbody>
</table>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer"></div>
</body>
</html>