<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{'/post/edit/' + ${lectureDto.lecture_id}}" method="post">
    <input type="hidden" name="_method" value="put"/>
    <input type="hidden" name="lecture_id" th:value="${lectureDto.lecture_id}"/>

    제목 : <input type="text" name="title" th:value="${lectureDto.title}"> <br>
    작성자 : <input type="text" name="author" th:value="${lectureDto.author}"> <br>
    참가자수 : <input type="number" name="max_participants" th:value="${lectureDto.max_participants}"> <br>
    내용 : <textarea name="content" th:text="${lectureDto.content}"></textarea><br>

    <input type="submit" value="수정">
</form>
</body>
</html>